.vscode/

# Ignore executable files
Dot_Prod/Test_add/*
Dot_Prod/Test_dotp/*
kmeans/*

# Don't ignore these files
!Dot_Prod/Test_add/*.cu
!Dot_Prod/Test_dotp/*.cu
!kmeans/*.c
!kmeans/*.csv
!kmeans/*.cu
!kmeans/*.py
!kmeans/*.gif

# Ignore another files
kmeans/dataset2.csv
kmeans/dataset_blobs.csv
